openapi: 3.0.0
info:
  title: Financial Modeling Prep API
  description: Access real-time stock quotes and financial data
  version: 1.0.0
servers:
  - url: https://financialmodelingprep.com
    description: Financial Modeling Prep API
paths:
  /stable/quote:
    get:
      summary: Stock Quote API
      description: Access real-time stock quotes with the FMP Stock Quote API. Get up-to-the-minute prices, changes, and volume data for individual stocks.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., AAPL for Apple Inc.)
          schema:
            type: string
          example: "AAPL"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: "AAPL"
                    name:
                      type: string
                      example: "Apple Inc."
                    price:
                      type: number
                      format: float
                      example: 232.8
                    changePercentage:
                      type: number
                      format: float
                      example: 2.1008
                    change:
                      type: number
                      format: float
                      example: 4.79
                    volume:
                      type: integer
                      example: 44489128
                    dayLow:
                      type: number
                      format: float
                      example: 226.65
                    dayHigh:
                      type: number
                      format: float
                      example: 233.13
                    yearHigh:
                      type: number
                      format: float
                      example: 260.1
                    yearLow:
                      type: number
                      format: float
                      example: 164.08
                    marketCap:
                      type: integer
                      example: 350082312000
                    priceAvg50:
                      type: number
                      format: float
                      example: 240.2278
                    priceAvg200:
                      type: number
                      format: float
                      example: 219.98755
                    exchange:
                      type: string
                      example: "NASDAQ"
                    open:
                      type: number
                      format: float
                      example: 227.2
                    previousClose:
                      type: number
                      format: float
                      example: 228.01
                    timestamp:
                      type: integer
                      example: 1738702801
  /stable/aftermarket-trade:
    get:
      summary: Aftermarket Trade API
      description: Track real-time trading activity occurring after regular market hours with the FMP Aftermarket Trade API. Access key details such as trade prices, sizes, and timestamps for trades executed during the post-market session.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., AAPL for Apple Inc.)
          schema:
            type: string
          example: "AAPL"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: "AAPL"
                    price:
                      type: number
                      format: float
                      example: 232.53
                    tradeSize:
                      type: integer
                      example: 132
                    timestamp:
                      type: integer
                      example: 1738715334311
  /stable/aftermarket-quote:
    get:
      summary: Aftermarket Quote API
      description: Access real-time aftermarket quotes for stocks with the FMP Aftermarket Quote API. Track bid and ask prices, volume, and other relevant data outside of regular trading hours.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., AAPL for Apple Inc.)
          schema:
            type: string
          example: "AAPL"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: "AAPL"
                    bidSize:
                      type: integer
                      example: 1
                    bidPrice:
                      type: number
                      format: float
                      example: 232.45
                    askSize:
                      type: integer
                      example: 3
                    askPrice:
                      type: number
                      format: float
                      example: 232.64
                    volume:
                      type: integer
                      example: 41647042
                    timestamp:
                      type: integer
                      example: 1738715334311
  /stable/stock-price-change:
    get:
      summary: Stock Price Change API
      description: Track stock price fluctuations in real-time with the FMP Stock Price Change API. Monitor percentage and value changes over various time periods, including daily, weekly, monthly, and long-term.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., AAPL for Apple Inc.)
          schema:
            type: string
          example: "AAPL"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      example: "AAPL"
                    "1D":
                      type: number
                      format: float
                      example: 2.1008
                    "5D":
                      type: number
                      format: float
                      example: -2.45946
                    "1M":
                      type: number
                      format: float
                      example: -4.33925
                    "3M":
                      type: number
                      format: float
                      example: 4.86014
                    "6M":
                      type: number
                      format: float
                      example: 5.88556
                    ytd:
                      type: number
                      format: float
                      example: -4.53147
                    "1Y":
                      type: number
                      format: float
                      example: 24.04092
                    "3Y":
                      type: number
                      format: float
                      example: 35.04264
                    "5Y":
                      type: number
                      format: float
                      example: 192.05871
                    "10Y":
                      type: number
                      format: float
                      example: 678.8558
                    max:
                      type: number
                      format: float
                      example: 181279.04168
  /stable/institutional-ownership/latest:
    get:
      summary: Institutional Ownership Filings API
      description: Stay up to date with the most recent SEC filings related to institutional ownership using the Institutional Ownership Filings API. This tool allows you to track the latest reports and disclosures from institutional investors, giving you a real-time view of major holdings and regulatory submissions.
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: number
          example: 0
        - name: limit
          in: query
          required: false
          description: Number of results per page
          schema:
            type: number
          example: 100
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cik:
                      type: string
                      example: "0001963967"
                    name:
                      type: string
                      example: "CPA ASSET MANAGEMENT LLC"
                    date:
                      type: string
                      example: "2024-12-31"
                    filingDate:
                      type: string
                      example: "2025-02-04 00:00:00"
                    acceptedDate:
                      type: string
                      example: "2025-02-04 17:28:36"
                    formType:
                      type: string
                      example: "13F-HR"
                    link:
                      type: string
                      example: "https://www.sec.gov/Archives/edgar/data/1963967/000196396725000001/0001963967-25-000001-index.htm"
                    finalLink:
                      type: string
                      example: "https://www.sec.gov/Archives/edgar/data/1963967/000196396725000001/boc2024q413f.xml"
  /stable/institutional-ownership/extract:
    get:
      summary: SEC Filings Extract API
      description: The SEC Filings Extract API allows users to extract detailed data directly from official SEC filings. This API provides access to key information such as company shares, security details, and filing links, making it easier to analyze corporate disclosures.
      parameters:
        - name: cik
          in: query
          required: true
          description: Central Index Key (CIK) for the company
          schema:
            type: string
          example: "0001388838"
        - name: year
          in: query
          required: true
          description: Year of the filing
          schema:
            type: string
          example: "2023"
        - name: quarter
          in: query
          required: true
          description: Quarter of the filing (1-4)
          schema:
            type: string
          example: "3"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      example: "2023-09-30"
                    filingDate:
                      type: string
                      example: "2023-11-13"
                    acceptedDate:
                      type: string
                      example: "2023-11-13"
                    cik:
                      type: string
                      example: "0001388838"
                    securityCusip:
                      type: string
                      example: "674215207"
                    symbol:
                      type: string
                      example: "CHRD"
                    nameOfIssuer:
                      type: string
                      example: "CHORD ENERGY CORPORATION"
                    shares:
                      type: integer
                      example: 13280
                    titleOfClass:
                      type: string
                      example: "COM NEW"
                    sharesType:
                      type: string
                      example: "SH"
                    putCallShare:
                      type: string
                      example: ""
                    value:
                      type: integer
                      example: 2152290
                    link:
                      type: string
                      example: "https://www.sec.gov/Archives/edgar/data/1388838/000117266123003760/0001172661-23-003760-index.htm"
                    finalLink:
                      type: string
                      example: "https://www.sec.gov/Archives/edgar/data/1388838/000117266123003760/infotable.xml"
  /stable/institutional-ownership/dates:
    get:
      summary: Form 13F Filings Dates API
      description: The Form 13F Filings Dates API allows you to retrieve dates associated with Form 13F filings by institutional investors. This is crucial for tracking stock holdings of institutional investors at specific points in time, providing valuable insights into their investment strategies.
      parameters:
        - name: cik
          in: query
          required: true
          description: Central Index Key (CIK) for the institutional investor
          schema:
            type: string
          example: "0001067983"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      example: "2024-09-30"
                    year:
                      type: integer
                      example: 2024
                    quarter:
                      type: integer
                      example: 3
  /stable/institutional-ownership/extract-analytics/holder:
    get:
      summary: Institutional Ownership Extract Analytics by Holder
      description: Retrieve detailed analytics about institutional investors' holdings for a specific stock symbol, showing ownership changes, market values, and performance metrics over time.
      parameters:
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., AAPL for Apple Inc.)
          schema:
            type: string
          example: "AAPL"
        - name: year
          in: query
          required: true
          description: Year of the filing
          schema:
            type: string
          example: "2023"
        - name: quarter
          in: query
          required: true
          description: Quarter of the filing (1-4)
          schema:
            type: string
          example: "3"
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
          example: 0
        - name: limit
          in: query
          required: false
          description: Number of results per page
          schema:
            type: integer
          example: 10
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      example: "2023-09-30"
                    cik:
                      type: string
                      example: "0000102909"
                    filingDate:
                      type: string
                      example: "2023-12-18"
                    investorName:
                      type: string
                      example: "VANGUARD GROUP INC"
                    symbol:
                      type: string
                      example: "AAPL"
                    securityName:
                      type: string
                      example: "APPLE INC"
                    typeOfSecurity:
                      type: string
                      example: "COM"
                    securityCusip:
                      type: string
                      example: "037833100"
                    sharesType:
                      type: string
                      example: "SH"
                    putCallShare:
                      type: string
                      example: "Share"
                    investmentDiscretion:
                      type: string
                      example: "SOLE"
                    industryTitle:
                      type: string
                      example: "ELECTRONIC COMPUTERS"
                    weight:
                      type: number
                      format: float
                      example: 5.4673
                    lastWeight:
                      type: number
                      format: float
                      example: 5.996
                    changeInWeight:
                      type: number
                      format: float
                      example: -0.5287
                    changeInWeightPercentage:
                      type: number
                      format: float
                      example: -8.8175
                    marketValue:
                      type: number
                      format: float
                      example: 222572509140
                    lastMarketValue:
                      type: number
                      format: float
                      example: 252876459509
                    changeInMarketValue:
                      type: number
                      format: float
                      example: -30303950369
                    changeInMarketValuePercentage:
                      type: number
                      format: float
                      example: -11.9837
                    sharesNumber:
                      type: number
                      format: float
                      example: 1299997133
                    lastSharesNumber:
                      type: number
                      format: float
                      example: 1303688506
                    changeInSharesNumber:
                      type: number
                      format: float
                      example: -3691373
                    changeInSharesNumberPercentage:
                      type: number
                      format: float
                      example: -0.2831
                    quarterEndPrice:
                      type: number
                      format: float
                      example: 171.21
                    avgPricePaid:
                      type: number
                      format: float
                      example: 95.86
                    isNew:
                      type: boolean
                      example: false
                    isSoldOut:
                      type: boolean
                      example: false
                    ownership:
                      type: number
                      format: float
                      example: 8.3336
                    lastOwnership:
                      type: number
                      format: float
                      example: 8.305
                    changeInOwnership:
                      type: number
                      format: float
                      example: 0.0286
                    changeInOwnershipPercentage:
                      type: number
                      format: float
                      example: 0.3445
                    holdingPeriod:
                      type: integer
                      example: 42
                    firstAdded:
                      type: string
                      example: "2013-06-30"
                    performance:
                      type: number
                      format: float
                      example: -29671950396
                    performancePercentage:
                      type: number
                      format: float
                      example: -11.7338
                    lastPerformance:
                      type: number
                      format: float
                      example: 38078179274
                    changeInPerformance:
                      type: number
                      format: float
                      example: -67750129670
                    isCountedForPerformance:
                      type: boolean
                      example: true
  /stable/insider-trading/reporting-name:
    get:
      summary: Search Insider Trades by Reporting Name API
      description: Search for insider trading activity by reporting name using the Search Insider Trades by Reporting Name API. Track trading activities of specific individuals or groups involved in corporate insider transactions.
      parameters:
        - name: name
          in: query
          required: true
          description: Name of the insider to search for
          schema:
            type: string
          example: "Zuckerberg"
        - name: apikey
          in: query
          required: true
          description: API key for authentication
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    reportingCik:
                      type: string
                      example: "0001548760"
                    reportingName:
                      type: string
                      example: "Zuckerberg Mark"
